<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.crm.mapper.DataDictionariesMapper">

    <resultMap id="DataDictionariesResultMap" type="com.bdqn.crm.model.DataDictionaries">
        <result column="dict_id" property="id"/>
        <result column="dict_type" property="type"/>
        <result column="dict_item" property="item"/>
        <result column="dict_value" property="value"/>
        <result column="dict_is_editable" property="isEditable"/>
    </resultMap>



    <select id="getAllDataDictionaries" resultType="com.bdqn.crm.model.DataDictionaries" resultMap="DataDictionariesResultMap">
        SELECT * FROM bas_dict
    </select>

    <insert id="addDataDictionaries" parameterType="com.bdqn.crm.model.DataDictionaries">
        INSERT INTO bas_dict(dict_type,dict_item,dict_value,dict_is_editable)VALUES(#{type},#{item},#{value},#{isEditable})
    </insert>

    <delete id="deletDataDictionaries" parameterType="com.bdqn.crm.model.DataDictionaries">
        DELETE FROM bas_dict WHERE dict_id=#{id}
    </delete>

    <update id="updateDataDictionaries" parameterType="com.bdqn.crm.model.DataDictionaries">
        UPDATE bas_dict SET dict_type=#{type},dict_item=#{item},dict_value=#{value},dict_is_editable=#{isEditable} WHERE dict_id=#{id}
    </update>

</mapper>
