<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.crm.mapper.MarketMapper">

    <resultMap id="MarketResultMap" type="com.bdqn.crm.model.Market">
        <result column="chc_id" property="id"/>
        <result column="chc_source" property="source"/>
        <result column="chc_cust_name" property="custName"/>
        <result column="chc_title" property="title"/>
        <result column="chc_rate" property="rate"/>
        <result column="chc_linkman" property="linkman"/>
        <result column="chc_tel" property="tel"/>
        <result column="chc_desc" property="desc"/>
        <result column="chc_create_id" property="createId"/>
        <result column="chc_create_name" property="createName"/>
        <result column="chc_create_date" property="createDate"/>
        <result column="chc_due_id" property="dueId"/>
        <result column="chc_due_name" property="dueName"/>
        <result column="chc_due_date" property="dueDate"/>
        <result column="chc_status" property="status"/>
    </resultMap>

    <select id="getAllMarket" resultMap="MarketResultMap">
      SELECT * FROM sal_chance
        WHERE chc_status='1'
            <if test="custName != null and custName != '' ">
                and chc_cust_name =#{custName}
            </if>
            <if test="title != null and title != '' ">
                and chc_title =#{title}
            </if>
            <if test="linkman != null and linkman != '' ">
                and chc_linkman =#{linkman}
            </if>
    </select>

    <select id="MarketById"  resultType="com.bdqn.crm.model.Market" resultMap="MarketResultMap">
      SELECT * FROM sal_chance WHERE chc_id=#{id} AND chc_status='1'
    </select>

    <insert id="addMarket" parameterType="com.bdqn.crm.model.Market">
      INSERT INTO sal_chance(chc_source,chc_cust_name,chc_title,chc_rate,chc_linkman,chc_tel,chc_desc,chc_create_id,chc_create_name,chc_create_date,  chc_due_id,chc_due_name,chc_due_date,chc_status)
                        VALUES (#{source},#{custName},#{title},#{rate},#{linkman},#{tel},#{desc},#{createId},#{createName},#{createDate},#{dueId},#{dueName},#{dueDate},#{status})
    </insert>

    <update id="updateMarket" parameterType="com.bdqn.crm.model.Market">
      UPDATE sal_chance
        <set>
            <if test="source!=null and source!=''">chc_source=#{source},</if>
            <if test="custName!=null and custName!=''">chc_cust_name=#{custName},</if>
            <if test="title!=null and title!=''">chc_title=#{title},</if>
            <if test="rate!=null and rate!=''">chc_rate=#{rate},</if>
            <if test="linkman!=null and linkman!=''">chc_linkman=#{linkman},</if>
            <if test="tel!=null and tel!=''">chc_tel=#{tel},</if>
            <if test="desc!=null and desc!=''">chc_desc=#{desc}</if>
            <if test="createId!=null and createId!=''">chc_create_id=#{createId},</if>
            <if test="createName!=null and createName!=''">chc_create_name=#{createName},</if>
            <if test="createDate!=null and createDate!=''">chc_create_date=#{createDate},</if>
            <if test="dueName!=null and dueName!=''">chc_due_name=#{dueName},</if>
            <if test="dueDate!=null and dueDate!=''">chc_due_date=#{dueDate},</if>
            <if test="status!=null and status!=''">chc_status=#{status}</if>
        </set>
              WHERE chc_id=#{id}
    </update>

    <update id="deletMarket" parameterType="com.bdqn.crm.model.Market">
      UPDATE  sal_chance SET chc_status='0' WHERE chc_id=#{id}
    </update>


</mapper>
