<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.RoleMapper">
    <resultMap id="RightMapper" type="com.bdqn.crm.model.Right">
        <result column="right_code" property="code"/>
        <result column="right_parent_code" property="parentCode"/>
        <result column="right_type" property="type"/>
        <result column="right_text" property="text"/>
        <result column="right_url" property="url"/>
        <result column="right_tip" property="tip"/>
    </resultMap>
</mapper>